<h1>Index</h1>
<ul>
  <% feeds.forEach(function (feed) { %>
    <li><a href="#/feeds/<%= feed.id %>"><%= feed.escape('title') %></a></li><button class="delete" id="<%= feed.id %>">Delete</button>
  <% }) %>
<ul>
