<h1> New Feed </h1>

<form>
  <label>Title
    <input type="text" name="feed[title]">
  </label>
  <label>URL
    <input type="text" name="feed[url]">
  </label>

  <input type="submit" value="New Feed!">

</form>
